body {
  font-weight: 300;
}
.btn {
  text-transform: uppercase;
}
.form-control {
  max-width: 100%;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.heading {
  color: #006335;
}
.heading-lg {
  text-transform: uppercase;
}
.divider {
  display: inline-block;
  width: 1em;
}
.spacing {
  color: rgba(0, 0, 0, 0.1);
}
.spacing:after,
.spacing:before {
  content: "";
  display: table;
  width: 120px;
  margin-left: 0;
}
.spacing-1 {
  height: 1rem;
}
.spacing-2 {
  height: 2rem;
}
.spacing-3 {
  height: 3rem;
}
.spacing-4 {
  height: 4rem;
}
.spacing-5 {
  height: 5rem;
}
.spacing-6 {
  height: 6rem;
}
.spacing-7 {
  height: 7rem;
}
.spacing-8 {
  height: 8rem;
}
.spacing-9 {
  height: 9rem;
}
.spacing-10 {
  height: 10rem;
}
.spacing-bordered-top:before {
  margin-top: -1px;
  border-top: 2px solid;
}
.spacing-bordered-bottom:after {
  margin-top: -1px;
  border-bottom: 2px solid;
}
.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.text-center .spacing-bordered-top:before,
.text-center .spacing-bordered-bottom:after {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
  .text-center-xs .img-responsive,
  .text-center-xs .spacing:after,
  .text-center-xs .spacing:before {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
  .text-center-sm .img-responsive,
  .text-center-sm .spacing:after,
  .text-center-sm .spacing:before {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-center-md {
    text-align: center;
  }
  .text-center-md .img-responsive,
  .text-center-md .spacing:after,
  .text-center-md .spacing:before {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .text-center-lg {
    text-align: center;
  }
  .text-center-lg .img-responsive,
  .text-center-lg .spacing:after,
  .text-center-lg .spacing:before {
    margin-left: auto;
    margin-right: auto;
  }
}
.loading {
  position: relative;
}
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
}
.main-header {
  background: #006335;
  margin-bottom: 0;
  border-bottom: 0;
}
.main-header .navbar-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-header .navbar-brand {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}
.main-header .navbar-nav > li > a {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
}
.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.5);
}
.main-header .navbar-toggle {
  margin-top: 12px;
  border-color: rgba(255, 255, 255, 0.1);
}
.main-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media (max-width: 479px) {
  .main-header .navbar-brand {
    height: 50px;
    line-height: 50px;
    padding-right: 70px;
  }
  .main-header .navbar-brand img {
    max-width: 100%;
    height: auto;
  }
  .main-header .navbar-toggle {
    float: none;
    position: absolute;
    top: 28px;
    right: 15px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .main-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-header .navbar-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-header .navbar-nav {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .main-header .navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .main-header .navbar-nav > li + li > a {
    border-left-color: rgba(255, 255, 255, 0.15);
  }
}
.main-hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-hero-inner {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
}
.main-hero .col-b img {
  max-width: 95%;
  margin-bottom: -20%;
}
.main-hero-content {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}
.main-hero-content > *:first-child {
  margin-top: 0;
}
.main-hero-content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .main-hero-inner {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff', endColorstr='#00ffffff', GradientType=0);
  }
}
@media (min-width: 768px) {
  .main-hero-content .heading {
    font-size: 42px;
    color: #006335;
  }
}
@media (min-width: 992px) {
  .main-hero {
    padding-top: 170px;
    padding-bottom: 160px;
  }
  .main-hero-inner {
    background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
  }
  .main-hero .col-b img {
    width: 120%;
    max-width: none;
    margin-top: -50%;
    margin-bottom: -100%;
  }
  .main-hero-content {
    padding-left: 10px;
    padding-bottom: 40px;
    border-bottom: 10px solid #006335;
  }
  .main-hero-content .heading {
    font-size: 52px;
    color: #006335;
  }
}
.main-section {
  position: relative;
  padding-top: 50px;
  padding-top: calc(50px + 1%);
  padding-bottom: 50px;
  padding-bottom: calc(50px + 1%);
  font-size: 16px;
}
.main-section-gray {
  background-color: #eee;
}
.main-alerts {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}
.main-alerts .alert {
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.main-alerts .alert:first-child,
.main-alerts .alert + .alert {
  border-top: 0;
}
.main-alerts .alert:last-child {
  border-bottom: 0;
}
.main-map {
  position: relative;
  overflow: hidden;
  padding-top: 400px;
  padding-top: calc(420px + 5%);
}
.main-map-map {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 14px;
}
.main-map-address {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 380px;
  margin: -6em auto 0;
  padding: 1em 0;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  color: #333;
  border-radius: 2em;
  background: rgba(200, 200, 200, 0.8);
}
.main-map-address:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  margin: 0 20%;
  border-bottom: 4px solid #006335;
}
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
  background-color: #006335;
}
#sobre {
  padding-bottom: 0;
}
#qualidade .col-b img {
  height: 100px;
  width: auto;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#qualidade .col-b img:hover,
#qualidade .col-b img:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
#qualidade .col-b img + img {
  margin-left: 5px;
}
@media (max-width: 1199px) {
  #qualidade .img-responsive {
    max-width: 260px;
  }
}
@media (max-width: 1199px) {
  #produtos .row .img-responsive {
    max-width: 260px;
  }
}
#uniformes {
  overflow: hidden;
  padding-bottom: 0;
}
@media (max-width: 1199px) {
  #uniformes .img-responsive {
    max-width: 280px;
    margin-bottom: -20px;
  }
}
#contato {
  padding-bottom: 0;
}
