//
// Load core variables
// --------------------------------------------------

@import "../../vendor/bootstrap/less/variables.less";

//
// Variables
// --------------------------------------------------


//== Colors
//
//

@brand-primary: #006335;


//== Scaffolding
//
//## Settings for some of the most global styles.

@text-color: #666;


//== Typography
//
//##

@font-family-sans-serif: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
// @font-size-base: 16px;

//== Components
//
//##

@border-radius-base:  2px;
@border-radius-large: 2px;
@border-radius-small: 2px;


//== Grid system
//
//##

@grid-float-breakpoint:     @screen-lg-min;


//== Container sizes
//
//##

@container-large-desktop: ((1000 + @grid-gutter-width));
