@import "bootstrap/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

body {
	font-weight: 300;
}

.btn {
	text-transform: uppercase;
}

.form-control {
	max-width: 100%;
	border-color: transparent;
	background-color: rgba(0,0,0,0.1);
	.box-shadow(none);
}

.heading {
	color: @brand-primary;
}

.heading-lg {
	text-transform: uppercase;
}

.divider {
	display: inline-block;
	width: 1em;
}

.spacing {
	color: rgba(0,0,0,.1);		

	&:after,
	&:before {
		content: "";
		display: table;
		width: 120px;
		margin-left: 0;
	}
}

.spacing-1  { height: 1rem; }
.spacing-2  { height: 2rem; }
.spacing-3  { height: 3rem; }
.spacing-4  { height: 4rem; }
.spacing-5  { height: 5rem; }
.spacing-6  { height: 6rem; }
.spacing-7  { height: 7rem; }
.spacing-8  { height: 8rem; }
.spacing-9  { height: 9rem; }
.spacing-10 { height: 10rem; }

.spacing-bordered-top:before { margin-top: -1px; border-top: 2px solid; }
.spacing-bordered-bottom:after { margin-top: -1px; border-bottom: 2px solid; }

.text-center {
	.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	.spacing-bordered-top:before,
	.spacing-bordered-bottom:after {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: @screen-xs-max) {
	.text-center-xs { text-align: center; .img-responsive, .spacing:after, .spacing:before { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.text-center-sm { text-align: center; .img-responsive, .spacing:after, .spacing:before { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.text-center-md { text-align: center; .img-responsive, .spacing:after, .spacing:before { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-lg-min) {
	.text-center-lg { text-align: center; .img-responsive, .spacing:after, .spacing:before { margin-left: auto; margin-right: auto; } }
}

.loading {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,0.6);
	}
}

.main-header {
	background: #006335;
	margin-bottom: 0;
	border-bottom: 0;

	.navbar-header {
		padding-top: 20px;
		padding-bottom: 20px; 
	}

	.navbar-brand {
		height: 60px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-nav > li > a {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		background: transparent;

		&:hover, &:focus { color: rgba(255,255,255,.5); }
	}

	.navbar-toggle { 
		margin-top: 12px;
		border-color: rgba(255,255,255,.1); 
	}

	.navbar-toggle .icon-bar { background-color: #fff; }

	@media (max-width: 479px) {
		.navbar-brand {
			height: 50px;
			line-height: 50px;
			padding-right: 70px;
		}	

		.navbar-brand img {
			max-width: 100%;
			height: auto;
		}

		.navbar-toggle { 
			float: none;
			position: absolute;
			top: 28px;
			right: 15px;
			margin: 0;
		}
	}

	@media (min-width: @grid-float-breakpoint) {
		padding-top: 30px;
		padding-bottom: 30px; 
		
		.navbar-header {
			padding-top: 0;
			padding-bottom: 0; 
		}

		.navbar-nav {
			padding-top: 17px;
			padding-bottom: 17px;
		}

		.navbar-nav > li > a {
			padding-top: 3px;
			padding-bottom: 3px;
			text-align: left;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
		}

		.navbar-nav > li + li > a { border-left-color: rgba(255,255,255,.15); }
	}
}

.main-hero {
	overflow: hidden;	
	background-repeat: no-repeat;
	background-size: cover;

	&-inner {
		position: relative;
		z-index: 1;
		background: rgba(255,255,255,0.3);
	}

	.col-b img {
		max-width: 95%;
		margin-bottom: -20%;
	}

	&-content {
		overflow: hidden;
		padding-top: 60px;
		padding-bottom: 20px;
		font-size: 24px;
		text-transform: uppercase;

		> *:first-child { margin-top: 0; }
		> *:last-child { margin-bottom: 0; }
	}

	@media (max-width: @screen-md-max) {
		&-inner {
			#gradient > .vertical(rgba(255,255,255,0.6), rgba(255,255,255,0));
		}
	}

	@media (min-width: @screen-sm-min) {
		&-content .heading {
			font-size: 42px;
			color: @brand-primary;
		}
	}

	@media (min-width: @screen-md-min) {
		padding-top: 170px;
		padding-bottom: 160px;

		&-inner {
			#gradient > .radial(rgba(255,255,255,0.6), rgba(255,255,255,0));
		}

		.col-b img {
			width: 120%;
			max-width: none;
			margin-top: -50%;
			margin-bottom: -100%;
		}

		&-content {
			padding-left: 10px;
			padding-bottom: 40px;
			border-bottom: 10px solid @brand-primary;	
		}

		&-content .heading {
			font-size: 52px;
			color: @brand-primary;
		}
	}
}

.main-section {
	position: relative;
	padding-top: 50px;
	padding-top: ~"calc(50px + 1%)";
	padding-bottom: 50px;
	padding-bottom: ~"calc(50px + 1%)";
	font-size: 16px;

	&-gray { background-color: #eee; }
}

.main-alerts {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	text-align: center;

	.alert {
		margin: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;

		&:first-child,		
		+ .alert { border-top: 0; }

		&:last-child { border-bottom: 0; }
	}
}

.main-map {
	position: relative;
	overflow: hidden;
	padding-top: 400px;
	padding-top: ~'calc(420px + 5%)';

	&-map {
		.box-sizing(content-box);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 14px;
	}

	&-address { 
		display: block;
		position: relative;
		z-index: 1;
		max-width: 380px;
		margin: -6em auto 0;
		padding: 1em 0;
		line-height: 1;
		white-space: nowrap;
		text-align: center;
		color: #333;
		border-radius: 2em;
		background: rgba(200,200,200,0.8);
		
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 60%;
			margin: 0 20%;
			border-bottom: 4px solid @brand-primary;
		}
	}
}

.main-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #fff;
	background-color: @brand-primary;
}

#sobre {
	padding-bottom: 0;
}

#qualidade {
	.col-b img {
		height: 100px;
		width: auto;
		opacity: 0.7;
	    -webkit-filter: grayscale(100%);
	       -moz-filter: grayscale(100%);
	        -ms-filter: grayscale(100%);
	         -o-filter: grayscale(100%);		
	            filter: grayscale(100%);
		.transition(all .2s);

		&:hover, &:focus {
			opacity: 1;
			.scale(1.1);
		    -webkit-filter: grayscale(0%);
		       -moz-filter: grayscale(0%);
		        -ms-filter: grayscale(0%);
		         -o-filter: grayscale(0%);
		            filter: grayscale(0%); 				
		}

		+ img { margin-left: 5px; }
	}

	@media (max-width: @screen-md-max) {
		.img-responsive {
			max-width: 260px;
		}	
	}
}

#produtos {
	@media (max-width: @screen-md-max) {
		.row .img-responsive {
			max-width: 260px;
		}	
	}
}

#uniformes {
	overflow: hidden;
	padding-bottom: 0;

	@media (max-width: @screen-md-max) {
		.img-responsive {
			max-width: 280px;
			margin-bottom: -20px;
		}	
	}
}

#contato {
	padding-bottom: 0;
}
